@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
  padding: 0;
  margin: 0;
}
.index {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Inter", sans-serif;
  height: 100vh;
}

.heading,
.text {
  padding: 0;
  margin: 0;
}
.heading{
  font-size: 2rem;
}
.text {
  font-size: 1rem;
}

.content {
  display: grid;
  gap: 2rem;
  padding: 1rem;
  max-width: 800px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;

}

.label {
  display: grid;
  gap: 0.2rem;
  max-width: 20rem;
  text-align: left;
  font-size: 1rem;
}

.input {
  padding: 0.8rem 0.4rem;
  border: 1px solid #000;
  border-right: unset;
}

.button {
  padding: 0.8rem 0.8rem;
  flex: 1;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.span{
  font-size: 0.8rem;
  font-weight: 500;
}
@media only screen and (max-width: 400px){
.input {
  border-right: 1px solid #000;
}
.form {
    flex-direction: column;
    gap: 10px;
}
}